Thumbs.db
.DS_Store
.gradle
build/
build/*
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
node_modules

engine-modules/user-interface/react-material-app
engine-modules/user-interface/tm-react
engine-modules/user-interface/react-mui-ui
*-lock.json
*.lock