Thumbs.db
.DS_Store
.gradle
build/
build/*
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/grails-plugin/*
/gradle/from-application-module.gradle
/other-plugins/*
!/other-plugins/codenarc-rule
!/other-plugins/app-api-test
